/* src/styles.css */
* {
  box-sizing: border-box;
}

.control-buttons {
  position: relative;
  padding-top: 90px;

}

ul,
li {
  list-style: none;
  padding: 0px;
}

.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.AR_Scanner {
  position: relative;
  width: 100%;
  max-height: 60%;
  overflow: hidden;
  height: 100%;
  margin-bottom: 0;
}

/* Custom CSS for Header component */
.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-right: 1rem;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
}

.marker-slider-container {
  padding: 0rem 1rem;
  background: #86888A;
  height: 100vh;
  /* z-index: -1; */
  position: relative;
  max-width: 500px;
}

.marker-slider-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0rem;
}
.slider-item-description {
  text-align: left;
  font-size: 16px;
  width: 86%;
  color: white;
  outline-offset: -7px;
  padding: 10px;
}
.star-icon {
  width: 34px;
  height: 34px;
}
.star-icon img {
  width: 100%;
}
.slider-item-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 24px;
}
.slider-btn-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.popup-content .slick-slider .slick-track,
.popup-content .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);

}


.profile-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-img img {
  width: 100%;
}

.slider-item-title-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}

.slider-item-title-container h2 {
  margin: 0;
  color: white;
}

.slider-item-title-container p {
  margin: 0;
  color: #3d87ff;
  font-size: 20px;
  font-weight: bolder;

}

.marker-slider {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  height:70vh;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 20%);
}

.slider-item {
  padding: 1.5rem;
  margin: auto;
  margin-top: 24px;

}

.slider_item h1 {
  text-align: center;
}

.slider-item-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.slider-video {
  max-width: 600px;
  width: 100%;
  margin-bottom: 1rem;
}

.slider-url-list {
  font-size: 1.25rem;
}

.slider-image {
  width: 100%;
  margin-bottom: 1rem;
}

.popup-overlay {
  position: fixed;
  top: 0;
  max-width: 500px;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.guide-container {
  border: 2px solid skyblue;
  border: 2px solid skyblue;
  max-width: 400px;
  margin: auto;
}

.guide-top {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px;
  max-height: 70px;
  width: 100%;
}

.popup-content {
  border-radius: 8px;
  max-width: 500px;
  width: calc(100% - 100px);
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
}

.next-arrow-button,
.prev-arrow-button {
  background: #101e26;
  width: 20px;
  height: 30vh;
  padding: 4px;
  z-index: 11;
  position: fixed;
  top: calc(50% - 20vh);
  cursor: pointer;
  margin: 0;
  outline: none;
  border: none;
}

.next-arrow-button {
  right: 0;
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%, 0% 100%);
}

.prev-arrow-button {
  left: 0;
  clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%, 0% 100%);
}

.next-arrow-button img,
.prev-arrow-button img {
  max-width: 10px;
}

.slider_item {
  width: 100%;
  margin: auto;
}

.slider_item li {
  font-size: 20px;
  line-height: 2;
}

.slider_item h2 {
  text-align: center;
}

.slider_item img {
  width: 100%;
  margin: auto;
}
.popup-overlay .close-btn {
  bottom: 12vh;
}

.close-btn {
  position: absolute;
    left: 10px;
    bottom: -20px;
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: #0a99ff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.slider-main-center-container img{
  width: 100%;
  max-height: 300px;
}
.lang-selector,
.lang-selector button {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  padding: 0;
}

.a-enter-vr-button {
  display: none;
}

.lang-btn {
  width: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: -150px;
  left: 0;
  top: 50%;
  transform: translate(-20%, 16%);
}

.Demo__some-network {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  right: 4%;
  opacity: 0;
  width: 100%;
  justify-content: space-evenly;
  max-width: 500px;
  transition: 0.5s;
  transform: translateY(61%);
  bottom: 0;
}

.showpopup {
  opacity: 1;
  z-index: 1;
  transform: translateY(-60%);
  transition: 0.5s;
}

.select {
  background: none;
  border: none;
  font-size: 16px;
}

.lang-btn button {
  padding: 12px;
  font-size: 17px;
  color: white;
  border: none;
  background: #0a99ff;
}

.button {
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: #0a99ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: auto;
}

.steps-guite ul {
  padding: 8px;
}

.steps-guite ul li {
  font-size: 16px;
  text-align: left;
}

.scanconainer {
  width: 91%;
  height: 80%;
  background: transparent;
  position: absolute;
  left: 50%;
  z-index: -1;
  margin-top: 12%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scanline {
  position: absolute;
  width: 100%;
  height: 5px;
  background: rgba(13, 197, 59, 0.64);
  animation: move 5s linear infinite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Additional styling for the slider can be added here */
.app-scan-container {
  height: 100vh;
  position: relative;
}

.scancamera-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Footer.css */
.main-footer {
  position: relative;
  overflow: hidden;
}
.footer-container {
  position: fixed;
  bottom: 0;
  z-index: 111;
  width: 100%;
  padding: 14px 0;
  display: flex;
  max-width: 500px;
  justify-content: space-around;
  padding-top: 30px;
}
.clip-path-footer {
  width: 100%;
  position: absolute;
  background: #101e26;
  height: 100%;
  clip-path: polygon(21% 15%, 26% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
  z-index: -1;
  top: 0;
  left: 0;
}
.footer-button {
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.footer-button img {
  width: 100%;
  height: 100%;
}


.footer-button+.footer-button {
  margin-left: 20px;
}