/* src/styles.css */
* {
  box-sizing: border-box;
}

.control-buttons {
  position: absolute;
  padding-top: 90px;
  left: 50%;
  top: 80%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.header-saved {
  display: flex;
  height: 68px;
  margin-top: 60px;
  position: absolute;
  max-width: 500px;
  width: 100%;
  border-bottom: 3px solid #f5d8d861;
  left: 0;
}

.saved-item {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gainsboro;
  margin: 5px -11px 0px 16px;
}

.saved-item img {
  width: 100%;
}

.pb-90 {
  padding-top: 120px;
}

ul,
li {
  list-style: none;
  padding: 0px;
}

.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.AR_Scanner {
  position: relative;
  width: 100%;
  /* max-height: 60%; */
  overflow: hidden;
  height: 100%;
  margin-bottom: 0;
}

/* Custom CSS for Header component */
.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-right: 1rem;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
}

.marker-slider-container {
  padding: 0rem 1rem;
  background: #86888A;
  height: 100vh;
  /* z-index: -1; */
  position: relative;
  max-width: 500px;
}

.marker-slider-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0rem;
}

.slider-item-description {
  text-align: left;
  font-size: 16px;
  width: 86%;
  color: white;
  outline-offset: -8px;
  margin-top: 40px;
  padding: 10px;
}

.star-icon {
  width: 34px;
  height: 34px;
}

.star-icon img {
  width: 100%;
}

.slider-item-title-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 24px;
}

.slider-btn-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.popup-content .slick-slider .slick-track,
.popup-content .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);

}


.profile-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-img img {
  width: 100%;
}

.slider-item-title-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}

.slider-item-title-container h2 {
  margin: 0;
  color: white;
}

.slider-item-title-container p {
  margin: 0;
  color: #3d87ff;
  font-size: 16px;
  font-weight: bolder;

}

.marker-slider {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  height: 66vh;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 20%);
}

.slider-item {
  padding: 1.5rem;
  margin: auto;
  margin-top: 24px;

}

.slider_item h1 {
  text-align: center;
}

.slider-item-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.slider-video {
  max-width: 600px;
  width: 100%;
  margin-bottom: 1rem;
}

.slider-url-list {
  font-size: 1.25rem;
}

.slider-image {
  width: 100%;
  margin-bottom: 1rem;
}

.popup-overlay {
  position: fixed;
  top: 0;
  max-width: 500px;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.guide-container {
  border: 2px solid skyblue;
  border: 2px solid skyblue;
  max-width: 400px;
  margin: auto;
}

.guide-top {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px;
  max-height: 70px;
  width: 100%;
}

.popup-content {
  border-radius: 8px;
  max-width: 500px;
  width: calc(100% - 60px);
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
}

.next-arrow-button,
.prev-arrow-button {
  background: #101e26;
  width: 20px;
  height: 30vh;
  padding: 4px;
  z-index: 11;
  position: fixed;
  top: calc(50% - 15vh);
  cursor: pointer;
  margin: 0;
  outline: none;
  border: none;
}

.next-arrow-button {
  right: 0;
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%, 0% 100%);
}

.prev-arrow-button {
  left: 0;
  clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%, 0% 100%);
}

.next-arrow-button img,
.prev-arrow-button img {
  max-width: 10px;
}

.next-arrow-button img {
  transform: rotate(180deg);
}

.slider_item {
  width: 100%;
  margin: auto;
}

.slider_item li {
  font-size: 20px;
  line-height: 2;
}

.slider_item h2 {
  text-align: center;
  margin-top: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots {
  bottom: -10px !important;
}
.slick-initialized .slick-slide {
  padding-bottom: 22px;
}
.slider_item img {
  width: 100%;
  margin: auto;
}

/* .popup-overlay .close-btn {
  bottom: 8%;
  left: 2px;
} */

.close-btn {
  position: fixed;
  left: 8px;
  bottom: 50px;
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: #0a99ff;
  padding: 4px;
  margin: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.marker-slider .close-btn {
  top: 100%;
  transform: translateY(60%);
}

.slider-main-center-container img {
  width: 100%;
  max-height: 170px;
}

.lang-selector,
.lang-selector button {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  padding: 0;
}

.a-enter-vr-button {
  display: none;
}

.lang-btn {
  width: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: -150px;
  left: 0;
  top: 50%;
  transform: translate(-20%, 16%);
}

.Demo__some-network {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 4%;
  opacity: 0;
  width: 100%;
  justify-content: space-evenly;
  max-width: 500px;
  transition: 0.5s;
  transform: translateY(61%);
  bottom: 0;
  width: fit-content;
}

.showpopup {
  opacity: 1;
  z-index: 111;
  transform: translateY(-32%);
  transition: 0.5s;
}

.select {
  background: none;
  border: none;
  font-size: 16px;
}

.lang-btn button {
  padding: 12px;
  font-size: 17px;
  color: white;
  border: none;
  background: #0a99ff;
}

.button {
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: #0a99ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 6px 12px;
  margin: auto;
}

.steps-guite ul {
  padding: 8px;
}

.steps-guite ul li {
  font-size: 16px;
  text-align: left;
}

.scanconainer {
  width: 90%;
  height: 45%;
  background: transparent;
  position: absolute;
  left: 50%;
  z-index: -1;
  margin-top: 16%;
  top: 38%;
  transform: translate(-50%, -50%);
}

.bg {
  width: 100%;
  height: 100%;
  background: green;
  z-index: -2;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scanconainer img {
  width: 80%;
  background: #d0e1d38c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -66%);
}

.scanline {
  position: absolute;
  width: 100%;
  height: 5px;
  background: rgba(13, 197, 59, 0.64);
  animation: move 5s linear infinite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Additional styling for the slider can be added here */
.app-scan-container {
  height: 90vh;
  position: relative;
}

.scancamera-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Footer.css */
.main-footer {
  position: relative;
  overflow: hidden;
}

.videoPlayerWraper {
  position: relative;
}

.marker-slider .video-conainer {
  width: 100%;
  height: 230px;
}

.videoPlayerWraper video {
  width: 100%;
  height: 100%;
  max-height: 170px;
}

.play-button {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  background: white;
  border-radius: 50%;
}

.footer-container {
  position: fixed;
  bottom: 0;
  z-index: 111;
  width: 100%;
  padding: 26px 0 14px 0;
  display: flex;
  max-width: 500px;
  justify-content: space-around;
}

.clip-path-footer {
  width: 100%;
  position: absolute;
  background: #101e26;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  clip-path: polygon(36% 16%, 92% 14%, 94% 0, 100% 0, 100% 100%, 0 100%, 0 29%, 32% 29%);
}

.footer-button {
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.footer-button img {
  width: 100%;
  height: 100%;
}


.footer-button+.footer-button {
  margin-left: 20px;
}

.popup-saved {
  height: 76vh;
  overflow: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.saved-box {
  width: 176px;
  height: 255px;
  text-align: left;
  margin: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 6px;
}

.saved-box h2 {
  margin: 0;
  font-size: 16px;
  color: white;
}

.saved-box p {
  margin: 0;
  font-size: 12px;
  color: blue;
}

.saved-box .videoPlayerWraper {
  width: 150px;
  height: 124px;
  margin: auto;
}

.saved-box .videoPlayerWraper .mockup-saved {
  width: 150px;
  margin: auto;
  height: 150px;
  overflow: hidden;
}

.saved-box .yt-frame {
  width: 100%;
  height: 100%;
}

.saved-box .media-box {
  width: 100%;
  height: 100%;
}

.saved-box .media-box video,
.saved-box .media-box img {
  width: 100%;
  height: 100%;
}

.saved-gallery {
  background: none;
  width: 100%;
  padding: 4px;
  margin-top: -40px;
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: blue rgb(240, 239, 236);
  /* scroll thumb and track */
}

.yt-frame {
  width: 100%;
  max-height: 170px;
}
.noSourceFound {
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  background: #818181;
}
.confirm-btn {
  background: red;
  padding: 6px 12px;
  border: none;
  color: white;
  margin: 20% 0 16px 0;
}

.loading-text {
  position: absolute;
  left: 50%;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.video-container {
  position: relative;
}

.footer-button.disabled {
  opacity: 0.5;
  pointer-events: none; /* This will make the button non-interactive */
}

